<div class="wrapper p-5">
  <div class="container">
    <section class="profile">
      <ul class="list-unstyled p-0 m-0">
        <li class="text-center my-4">
          <div class="img-container" [class.no-image]="!hero?.profileImage" (click)="hero?.profileImage ? fastAccessService?.openModal(hero, fastAccess) : null">
            <img [class.default]="!hero?.profileImage" [src]="hero?.profileImage ? hero?.profileImage: 'assets/images/user.svg'" [alt]="hero?.fullName" />
          </div>
        </li>
        <li>
          <span>
            <strong>Hero Name: </strong>
          </span>
          <span>{{ hero?.fullName }}</span>
        </li>
        <li>
          <span>
            <strong>Description: </strong>
          </span>
          <p>{{ hero?.description ? hero?.description : '-------' }}</p>
        </li>
        <li>
          <span>
            <strong>Powers: </strong>
          </span>
          <p>{{ hero?.powers }}</p>
        </li>
      </ul>
    </section>
  </div>
</div>


<app-fast-access #fastAccess></app-fast-access>