
.table--wrapper {
    padding: 40px 20px;

    table {
      tr {
        cursor: pointer;
        &:hover {
          td {
            background-color: #cdcdcd;
          }
        }
      }
      tr.no--data-tr {
        cursor: default;
        &:hover {
          td {
            background-color: initial;
          }
        }
      }
    }
}
