
.table--wrapper {
    padding: 40px 20px;

    table {
        tr {
            cursor: pointer;
            &:hover {
                td {
                    background-color: #cdcdcd;
                }
            }
        }
    }
}
