<div class="container">
  <div class="table--wrapper">
    <form>
      <div class="form-group form-inline">
        <input class="form-control" type="text" [formControl]="filter" placeholder="Search" />
        <div class="ml-auto">
          <span class="mx-2">Sort By Power</span>
          <span class="mx-2"><button (click)="toggleSort()">toggler</button></span>
          <span class="mx-2">Sort By Name</span>
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
        <tr style="cursor: default;">
          <th scope="col">#</th>
          <ng-container *ngFor="let col of tableOptions.headers">
            <th scope="col" sortable="col.name" (sort)="onSort($event)">{{ col?.value }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let hero of heroes$ | async; let i = index">
          <tr [routerLink]="['/heroes', hero?.id]">
            <td>{{ i + 1 }}</td>
            <td>
              <ngb-highlight [result]="hero?.fullName" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="hero?.powers" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
              <ngb-rating [(rate)]="hero.rate"></ngb-rating>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
